<!DOCTYPE html>
<html class="no-js" lang="de">
   <head>
      <meta charset="utf-8">
      <title>{{ darvin.name }}</title>
      <script>
        (function () {
          const html = document.documentElement;
          const fontsClass = 'fonts-loaded';

          if (sessionStorage.fontsLoaded) {
            html
              .classList
              .add(fontsClass);
          } else {
            const script = document.createElement("script");
            // TODO: use from npm package
            script.src = "{{ darvin.config.server.base }}/{{ darvin.config.server.assets }}/scripts/vendors/fontfaceobserver-2.1.0.js";
            script.async = true;
            script.onload = function () {
              const fontFamilyA = 'Roboto'; // extend font familys here

              const fontA500 = new FontFaceObserver(fontFamilyA, {weight: '500'});
              const fontA700 = new FontFaceObserver(fontFamilyA, {weight: '700'});
              // .. add extended font

              Promise
                .all([fontA500.load(), fontA700.load()]) // extend resolve list
                .then(function () {
                  html
                    .classList
                    .add(fontsClass);
                  sessionStorage.fontsLoaded = true;
                });
            };
            document
              .head
              .appendChild(script);
          }
        })();
      </script>
      <meta name="description" content="Lorem description">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="format-detection" content="telephone=no">
      <link href="{{ darvin.config.server.base }}/preview/styles/preview.css" rel="stylesheet">
   </head>
   <body class="preview" data-ext="twig" data-name="{{ darvin.name }}" data-filepath="{{ darvin.filepath }}" data-path="{{ darvin.path }}" data-chunk="{{ darvin.chunk }}">
      <article id="prev-l-pagewrapper">
        <!-- start preview header -->
        <header id="prev-l-header" class="preview__content--off">
          <div class="prev-l-constrainer">
            <div class="prev-m-header{% if variantName %} prev-m-header--column{% endif %}">
              <div class="prev-headertitle">
                <div class="prev-m-title">{{ variantName }}</div>
                <div class="prev-m-subtitle">{{ variantDescr }}</div>
              </div>
            </div>
            <nav class="prev-m-servicenav" data-module="lazy-prev-bar">
              {% if darvin.previews.length > 1 %}
                  {% for link in darvin.previews %}
                    {% set linkNumber = loop.index %}
                    <div class="prev-m-servicenav__item variant">
                      {% if link!=darvin.filepath %}
                        <a class="prev-m-servicenav__link" href="{{ link }}.html">{{ linkNumber }}</a>
                      {% else %}
                        <span class="prev-m-servicenav__link prev-m-servicenav__link--active">{{ linkNumber }}</span>
                      {% endif %}
                    </div>
                  {% endfor %}
              {% endif %}
              <div class="break"></div>
              <div class="prev-m-servicenav__item">
                <a class="prev-m-servicenav__link prev-m-servicenav__link--readme" tabindex="0" data-target="readme" data-trigger>
                  <span class="prev-m-servicenav__linklbl"><i class="i i-info"></i></span><span class="prev-m-servicenav__linklbl prev-m-servicenav__linklbl--active"><i class="i i-close"></i></span>
                </a>
              </div>
              <div class="prev-m-servicenav__item">
                <a class="prev-m-servicenav__link prev-m-servicenav__link--source" tabindex="0" data-target="source" data-trigger>
                  <span class="prev-m-servicenav__linklbl"><i class="i i-source"></i></span><span class="prev-m-servicenav__linklbl prev-m-servicenav__linklbl--active"><i class="i i-close"></i></span>
                </a>
              </div>
              <div class="prev-m-servicenav__item">
                <a href="/" class="prev-m-servicenav__link prev-m-servicenav__link--index">
                  <i class="i i-nav"></i>
                </a>
              </div>
            </nav>
            <nav class="prev-m-servicenavtrigger">
                <a href="#" class="prev-m-servicenav__link prev-m-servicenav__link--servicenav" data-target="servicenav" data-trigger>
                  <i class="i i-maximize"></i>
                </a>
            </nav>
          </div>
        </header>
        <!-- start main -->
        <main id="prev-l-main" class="l-main--preview">
          <div id="l-content">
            {% block preview %}
            {% endblock %}
          </div>
          <div class="prev-m-overlay">
            <div class="prev-l-constrainer">
              <div class="prev-m-overlay__item" data-readme>

              </div>
              <div class="prev-m-overlay__item" data-source>

              </div>
            </div>
          </div>
        </main>
      </article>

      <script type="text/javascript" src="{{ darvin.config.server.base }}/preview/preview.js" async></script>
    </body>
</html>
