{#
    Modules m01-header
    Demo Usage
#}

{% macro navitem(title, id, href) %}
    <li class="header__navitem"><a data-id="{{ id }}" href="{{ href }}">{{ title }}</a></li>
{% endmacro %}

{% macro main() %}
  {% import _self as self %}
  <!-- START - m01-header -->
    <div class="m-header header">
      <div class="l-constrainer">
        <ul class="header__nav">
          {{ self.navitem('Install','install', '#install') }}
          {{ self.navitem('Startup','startup', '#startup') }}
          {{ self.navitem('Publish','publish', '#publish') }}
          {{ self.navitem('Loaders','loaders', '#loaders') }}
          {{ self.navitem('Settings','settings', '#settings') }}
          {{ self.navitem('CLI','cli', '#cli') }}
          {{ self.navitem('Develop','develop', '#develop') }}
        </ul>
      </div>
    </div>
  <!-- END - m02-header -->
{% endmacro %}
